body {
background-color: #3C97B3;
font-family: 'Inter', sans-serif;
}

h2, h3 {
color: #575757;
}

.card {
background: #FFF1DD;
padding: 1rem;
box-shadow: 0 2px 4px rgba(0,0,0,0.05);
border-radius: 12px;
}

.card h4 {
margin-bottom: 1rem;
}

.card button {
background: #49A1BC;
border: none;
color: #FFF1DD;
padding: 6px 12px;
border-radius: 6px;
}

.btn-primary {
background-color: #49A1BC;
border: none;
border-radius: 8px;
padding: 10px 20px;
font-weight: 600;
}

.btn-light {
font-weight: 600;
}

.form-control {
border-radius: 8px;
}

.bottonmp3{
    background-color: rgb(255, 255, 255);
}

